<div class="full footer-bg">
    <div class="large-6 columns">
        <h2 class="colored-title">Contact Me.</h2>
        <div class="two spacing"></div>
        <p class="contact-email">
            <em>Write to me</em>
            <a href="mailto:moisesvasquezca@gmail.com" title="Write to me">moisesvasquezca@gmail.com</a>
        </p>
        <p class="contact-email">
            <em>Connect with me</em>
            <ul class="socials">
                <li><a href="https://twitter.com/Moises_Data" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/vasquezmoises/" target="_blank"><i class='fa fa-linkedin'></i></a></li>
                <li><a href="https://github.com/moisesvasquez" target="_blank"><i class='fa fa-github'></i></a></li>
                <li><a href="https://www.instagram.com/moisesvasquez.io/" target="_blank"><i class='fa fa-instagram'></i></a></li>
            </ul>
        </p>
        <p class="small-text"><a href="/contact">Go to contact page <i class="icon-arrows-slim-right"></i></a></p>
        <div class="two spacing"></div>
        <p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/projects">Projects</a> | <a href="/blog">Blog</a> | <a href="/contact">Contact</a></p>
        <div class="three spacing"></div>
    </div>
</div>