<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projects | Moises Vasquez</title>
    <link rel="stylesheet" href="../assets/static/css/foundation.css">
    <link rel="stylesheet" href="../assets/static/css/slick.css">
    <link rel="stylesheet" href="../assets/static/css/slick-theme.css">
    <link rel="stylesheet" href="../assets/static/css/app.css">
    <link rel="stylesheet" href="../assets/static/css/responsive.css">
    <link href="../assets/static/css/fontello.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../assets/static/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../assets/static/css/linea-styles.css" />
    <link rel="stylesheet" href="../assets/static/css/linea-arrows-styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,400,400i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <script src="../assets/js/modernizr-custom.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162886543-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-162886543-1');
    </script>

</head>

<body>
    <div class="logo">
        <a href="/">MOISES VASQUEZ.</a>
    </div>
    <div id="works" class="box active" style="overflow: hidden scroll;">
        <div class="header">
            <nav>
                <h2>
                    <a href="">
                        <video loop autoplay muted playsinline class="nav-video">
                <source src='../assets/images/@stock/works-2.optimized..faststart.mp4' type='video/mp4'>
              </video>

                        <svg width="600" height="338" viewBox="0 0 600 338" class="svg-graphic" id="svg-graphic-works">
                <defs>
                  <mask id="works-mask" x="0" y="0" width="600" height="338" >
                    <rect x="0" y="0" width="600" height="338" fill="#fff" />
                    <path d="M377.5,14.9c22,10,38.9,24.1,50.8,42.4c11.9,18.3,17.8,40,17.8,65c0,24.7-5.9,46.3-17.8,64.8
		c-11.9,18.5-28.8,32.6-50.8,42.4c-22,9.8-47.9,14.7-77.8,14.7h-67.9V337h-78V0h145.9C329.6,0,355.5,5,377.5,14.9z"/>
                  </mask>
                </defs>
                <!-- rect should be bigger than 337.5, vector shape should be smaller than 337.5 -->
                <!-- the 337.5 is calcutated by 600 / 16 * 9 -->
                <rect x="0" y="0" width="600" height="338" />
              </svg>

                        <span>Projects</span>
                    </a>
                </h2>
            </nav>
            <div class="header-title">
                <div class="row">
                    <div class="large-8 columns">
                        <h2>Projects</h2>
                        <p>A collection of my best projects. Real world projects with real data that help solve a problem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="works">
                {% for post in site.posts %}
                <div class="large-3 medium-6 columns">
                    <div class="item">
                        <a href="{{ post.github }}" target="_blank">
                            <div class="circle-wrap">
                                <div class="media" style="background-image: url({{ post.image }});"></div>
                            </div>
                            <div style="padding: 5%;">
                                <p><em>{{ post.title }}</em></p>
                                <h3>{{ post.description | truncate: 114,"" }}</h3>
                            </div>
                        </a>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="full footer-bg">
            <div class="large-6 columns">
                <h2 class="colored-title">Contact Me.</h2>
                <div class="two spacing"></div>
                <p class="contact-email">
                    <em>Write to me</em>
                    <a href="mailto:moisesvasquezca@gmail.com" title="Write to me">moisesvasquezca@gmail.com</a>
                </p>
                <p class="contact-email">
                    <em>Call me</em>
                    <a href="tel:1-863-605-7672" title="Call me">(863) 605-7672</a>
                </p>
                <p class="small-text"><a href="/contact">Go to contact page <i class="icon-arrows-slim-right"></i></a></p>
                <div class="three spacing"></div>
            </div>
        </div>
    </div>

    <nav>
        <a href="/" id='back'>
            <i class="fa fa-close"></i>
        </a>
    </nav>


    <script src="../assets/bower_components/jquery/dist/jquery.js"></script>
    <script src="../assets/bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="../assets/bower_components/countto/jquery.countTo.js"></script>
    <script src="../assets/js/jquery.appear.js"></script>
    <script src="../assets/js/jquery.validate.js"></script>
    <script src="../assets/js/slick.min.js" type="text/javascript"></script>
    <script src="../assets/js/app.js"></script>
    <script src="https://use.fontawesome.com/e83b4447db.js"></script>
</body>

</html>